<a href="https://colab.research.google.com/github/Usharbudha/AISem3/blob/master/CW/Home_Credit_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import os
os.environ['KAGGLE_CONFIG_DIR']="/content/gdrive/My Drive/Kaggle"

In [3]:
%cd /content/gdrive/My Drive/Kaggle

/content/gdrive/My Drive/Kaggle

In [4]:
!kaggle competitions download -c home-credit-default-risk

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
HomeCredit_columns_description.csv: Skipping, found more recently modified local copy (use --force to force download)
Downloading bureau.csv.zip to /content/gdrive/My Drive/Kaggle
 87% 32.0M/36.8M [00:01<00:00, 20.7MB/s]
User cancelled operation

In [62]:
!unzip \*.zip && rm *.zip

Archive:  installments_payments.csv.zip
replace installments_payments.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  previous_application.csv.zip
replace previous_application.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  bureau_balance.csv.zip
replace bureau_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  bureau.csv.zip
replace bureau.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  application_train.csv.zip
replace application_train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  application_test.csv.zip
replace application_test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  credit_card_balance.csv.zip
replace credit_card_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  POS_CASH_balance.csv.zip
replace POS_CASH_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

8 archives were successfully processed.

In [4]:
import pandas as pd
pos_cash_balance=pd.read_csv("POS_CASH_balance.csv")
application_test=pd.read_csv("application_test.csv")
application_train=pd.read_csv("application_train.csv")
credit_card_balance=pd.read_csv("credit_card_balance.csv")
installments_payments=pd.read_csv("installments_payments.csv")
previous_application=pd.read_csv("previous_application.csv")
bureau_balance=pd.read_csv("bureau_balance.csv")
bureau=pd.read_csv("bureau.csv")

In [5]:
print(pos_cash_balance.isnull().sum())
print(pos_cash_balance.shape)

SK_ID_PREV                   0
SK_ID_CURR                   0
MONTHS_BALANCE               0
CNT_INSTALMENT           26071
CNT_INSTALMENT_FUTURE    26087
NAME_CONTRACT_STATUS         0
SK_DPD                       0
SK_DPD_DEF                   0
dtype: int64
(10001358, 8)

In [6]:
print(application_test.isnull().sum())
print(application_test.shape)

SK_ID_CURR                       0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     6049
AMT_REQ_CREDIT_BUREAU_WEEK    6049
AMT_REQ_CREDIT_BUREAU_MON     6049
AMT_REQ_CREDIT_BUREAU_QRT     6049
AMT_REQ_CREDIT_BUREAU_YEAR    6049
Length: 121, dtype: int64
(48744, 121)

In [7]:
print(application_train.isnull().sum())
print(application_train.shape)

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64
(307511, 122)

In [8]:
print(credit_card_balance.isnull().sum())
print(credit_card_balance.shape)

SK_ID_PREV                         0
SK_ID_CURR                         0
MONTHS_BALANCE                     0
AMT_BALANCE                        0
AMT_CREDIT_LIMIT_ACTUAL            0
AMT_DRAWINGS_ATM_CURRENT      749816
AMT_DRAWINGS_CURRENT               0
AMT_DRAWINGS_OTHER_CURRENT    749816
AMT_DRAWINGS_POS_CURRENT      749816
AMT_INST_MIN_REGULARITY       305236
AMT_PAYMENT_CURRENT           767988
AMT_PAYMENT_TOTAL_CURRENT          0
AMT_RECEIVABLE_PRINCIPAL           0
AMT_RECIVABLE                      0
AMT_TOTAL_RECEIVABLE               0
CNT_DRAWINGS_ATM_CURRENT      749816
CNT_DRAWINGS_CURRENT               0
CNT_DRAWINGS_OTHER_CURRENT    749816
CNT_DRAWINGS_POS_CURRENT      749816
CNT_INSTALMENT_MATURE_CUM     305236
NAME_CONTRACT_STATUS               0
SK_DPD                             0
SK_DPD_DEF                         0
dtype: int64
(3840312, 23)

In [9]:
print(installments_payments.isnull().sum())
print(installments_payments.shape)

SK_ID_PREV                   0
SK_ID_CURR                   0
NUM_INSTALMENT_VERSION       0
NUM_INSTALMENT_NUMBER        0
DAYS_INSTALMENT              0
DAYS_ENTRY_PAYMENT        2905
AMT_INSTALMENT               0
AMT_PAYMENT               2905
dtype: int64
(13605401, 8)

In [10]:
print(previous_application.isnull().sum())
print(previous_application.shape)

SK_ID_PREV                           0
SK_ID_CURR                           0
NAME_CONTRACT_TYPE                   0
AMT_ANNUITY                     372235
AMT_APPLICATION                      0
AMT_CREDIT                           1
AMT_DOWN_PAYMENT                895844
AMT_GOODS_PRICE                 385515
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
FLAG_LAST_APPL_PER_CONTRACT          0
NFLAG_LAST_APPL_IN_DAY               0
RATE_DOWN_PAYMENT               895844
RATE_INTEREST_PRIMARY          1664263
RATE_INTEREST_PRIVILEGED       1664263
NAME_CASH_LOAN_PURPOSE               0
NAME_CONTRACT_STATUS                 0
DAYS_DECISION                        0
NAME_PAYMENT_TYPE                    0
CODE_REJECT_REASON                   0
NAME_TYPE_SUITE                 820405
NAME_CLIENT_TYPE                     0
NAME_GOODS_CATEGORY                  0
NAME_PORTFOLIO                       0
NAME_PRODUCT_TYPE                    0
CHANNEL_TYPE                         0
SELLERPLACE_AREA                     0
NAME_SELLER_INDUSTRY                 0
CNT_PAYMENT                     372230
NAME_YIELD_GROUP                     0
PRODUCT_COMBINATION                346
DAYS_FIRST_DRAWING              673065
DAYS_FIRST_DUE                  673065
DAYS_LAST_DUE_1ST_VERSION       673065
DAYS_LAST_DUE                   673065
DAYS_TERMINATION                673065
NFLAG_INSURED_ON_APPROVAL       673065
dtype: int64
(1670214, 37)

In [11]:
print(bureau_balance.isnull().sum())
print(bureau_balance.shape)

SK_ID_BUREAU      0
MONTHS_BALANCE    0
STATUS            0
dtype: int64
(27299925, 3)

In [12]:
print(bureau.isnull().sum())
print(bureau.shape)

SK_ID_CURR                      0
SK_ID_BUREAU                    0
CREDIT_ACTIVE                   0
CREDIT_CURRENCY                 0
DAYS_CREDIT                     0
CREDIT_DAY_OVERDUE              0
DAYS_CREDIT_ENDDATE        105553
DAYS_ENDDATE_FACT          633653
AMT_CREDIT_MAX_OVERDUE    1124488
CNT_CREDIT_PROLONG              0
AMT_CREDIT_SUM                 13
AMT_CREDIT_SUM_DEBT        257669
AMT_CREDIT_SUM_LIMIT       591780
AMT_CREDIT_SUM_OVERDUE          0
CREDIT_TYPE                     0
DAYS_CREDIT_UPDATE              0
AMT_ANNUITY               1226791
dtype: int64
(1716428, 17)

In [13]:
application_test.tail()

       SK_ID_CURR  ... AMT_REQ_CREDIT_BUREAU_YEAR
48739      456221  ...                        1.0
48740      456222  ...                        NaN
48741      456223  ...                        1.0
48742      456224  ...                        2.0
48743      456250  ...                        4.0

[5 rows x 121 columns]

In [14]:
application_train.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [15]:
application_train.shape

(307511, 122)

In [16]:
application_train.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

In [17]:
application_test.isnull().sum()

SK_ID_CURR                       0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     6049
AMT_REQ_CREDIT_BUREAU_WEEK    6049
AMT_REQ_CREDIT_BUREAU_MON     6049
AMT_REQ_CREDIT_BUREAU_QRT     6049
AMT_REQ_CREDIT_BUREAU_YEAR    6049
Length: 121, dtype: int64

In [18]:
print(application_train.dtypes=='object')

SK_ID_CURR                    False
TARGET                        False
NAME_CONTRACT_TYPE             True
CODE_GENDER                    True
FLAG_OWN_CAR                   True
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     False
AMT_REQ_CREDIT_BUREAU_WEEK    False
AMT_REQ_CREDIT_BUREAU_MON     False
AMT_REQ_CREDIT_BUREAU_QRT     False
AMT_REQ_CREDIT_BUREAU_YEAR    False
Length: 122, dtype: bool

In [19]:
"""
If we've 2 unique categorical values in a column then use Label Encoder, as LE doesn't rank the values.
If we've 2 or more unique categorical values in a column then use dummies, as dummies create separate column for each of the values.
"""
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

for i in application_train:
  if application_train[i].dtype=='object':
        if len(list(application_train[i].unique()))<=2:
            le.fit(application_train[i])
            application_train[i]=le.transform(application_train[i])
            application_test[i]=le.transform(application_test[i])

In [20]:
application_train=pd.get_dummies(application_train)
application_test=pd.get_dummies(application_test)

In [21]:
#combining all the dataframes
data=pd.concat([application_train,application_test], ignore_index = True, sort = False)
print(data.shape)



#data=application_train
#data=pd.merge(application_test,on='SK_ID_CURR',how='left')
#data.head()
#data.shape

(356255, 243)

In [22]:
#data=data.merge(bureau.set_index('SK_ID_CURR'),on='SK_ID_CURR')
#data=data.merge(previous_application.set_index('SK_ID_CURR'), on='SK_ID_CURR')
"""
data=data.merge(pos_cash_balance.set_index('SK_ID_CURR'),on='SK_ID_CURR')
data=data.merge(installments_payments.set_index('SK_ID_CURR'),on='SK_ID_CURR')
data=data.merge(credit_card_balance.set_index('SK_ID_CURR'),on='SK_ID_CURR')
"""
#data.shape

"\ndata=data.merge(pos_cash_balance.set_index('SK_ID_CURR'),on='SK_ID_CURR')\ndata=data.merge(installments_payments.set_index('SK_ID_CURR'),on='SK_ID_CURR')\ndata=data.merge(credit_card_balance.set_index('SK_ID_CURR'),on='SK_ID_CURR')\n"

In [23]:
train=data[data['TARGET'].notnull()]

In [24]:
test=data[data['TARGET'].isnull()]

In [25]:
x=train.drop(columns=['TARGET'])
y=train['TARGET']

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.2,random_state =10)

In [27]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer

imputer=SimpleImputer(strategy = 'median')

x_train=imputer.fit_transform(x_train)
x_test=imputer.transform(x_test)

scaler=MinMaxScaler(feature_range = (0, 1))
x_train_scale=scaler.fit_transform(x_train)
x_test_scale=scaler.transform(x_test)

In [28]:
param={'penalty':['l1','l2'],'C':[0.1,0.001,0.0001,0.00001]}

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
log_reg = LogisticRegression()
clf=GridSearchCV(log_reg,param_grid=param,n_jobs=-1,verbose=1)
clf.fit(x_train_scale,y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  1.7min finished

GridSearchCV(cv=None, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='auto',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='lbfgs',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'C': [0.1, 0.001, 0.0001, 1e-05],
                         'penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [29]:
clf.best_params_

{'C': 0.001, 'penalty': 'l2'}

In [30]:
### fit model with best param
log_reg = LogisticRegression(C=0.001,penalty='l2')
log_reg.fit(x_train_scale,y_train)

### predict on test data
y_pred = log_reg.predict_proba(x_test_scale)[:,1]

from sklearn.metrics import roc_auc_score
score = roc_auc_score(y_test,y_pred)
print(score)

0.726518000690888

In [31]:
from sklearn.ensemble import RandomForestClassifier
ranfo=RandomForestClassifier(max_depth=4, random_state=10)
ranfo.fit(x_train_scale,y_train)

from sklearn import metrics
y_pred1=ranfo.predict(x_test)
print(metrics.accuracy_score(y_test,y_pred1))

0.9192722306228964

In [32]:
pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.18.5)

In [33]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

data_dmatrix = xgb.DMatrix(data=x,label=y)

In [34]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,max_depth = 5, alpha = 10, n_estimators = 10)

In [35]:
xg_reg.fit(x_train,y_train)

preds = xg_reg.predict(x_test)

[15:25:48] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [36]:
import numpy as np
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 0.305382

In [42]:
score1 = roc_auc_score(y_test,preds)
score1

0.7293659012571534

In [37]:
params = {"objective":"reg:linear",'colsample_bytree': 0.3,'learning_rate': 0.1,'max_depth': 5, 'alpha': 10}

cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,num_boost_round=50,early_stopping_rounds=10,metrics="rmse", as_pandas=True, seed=123)

[15:26:04] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:26:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:26:12] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [38]:
cv_results.head()

   train-rmse-mean  train-rmse-std  test-rmse-mean  test-rmse-std
0         0.465416        0.000029        0.465230       0.000071
1         0.434997        0.000050        0.434994       0.000197
2         0.408670        0.000137        0.408713       0.000253
3         0.386053        0.000241        0.386113       0.000454
4         0.366541        0.000529        0.366628       0.000726

In [39]:
print((cv_results["test-rmse-mean"]).tail(1))

49    0.262241
Name: test-rmse-mean, dtype: float64

In [ ]:
################   Below work was done during the class   #################

In [40]:
train=application_train[["SK_ID_CURR","TARGET"]]
application_test["TARGET"]=0
test=application_test[["SK_ID_CURR","TARGET"]]

In [41]:
train.head()

   SK_ID_CURR  TARGET
0      100002       1
1      100003       0
2      100004       0
3      100006       0
4      100007       0

In [42]:
test.head()

   SK_ID_CURR  TARGET
0      100001       0
1      100005       0
2      100013       0
3      100028       0
4      100038       0

In [47]:
test.tail()

       SK_ID_CURR  TARGET
48739      456221       0
48740      456222       0
48741      456223       0
48742      456224       0
48743      456250       0

In [46]:
merge=train.append(test,sort=True)
merge.tail()

       SK_ID_CURR  TARGET
48739      456221       0
48740      456222       0
48741      456223       0
48742      456224       0
48743      456250       0

In [51]:
X=merge['SK_ID_CURR'].values
y=merge['TARGET'].values
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

X_train= X_train.reshape(-1, 1)
y_train= y_train.reshape(-1, 1)
X_test= X_test.reshape(-1, 1)
y_train= y_train.reshape(-1,1)

In [53]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(X_train,y_train)

y_pred=logreg.predict(X_test)

from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9294606391489242

In [56]:
from sklearn.ensemble import RandomForestClassifier
ranfo=RandomForestClassifier(max_depth=4, random_state=10)
ranfo.fit(X_train,y_train)

y_pred1=ranfo.predict(X_test)
print(metrics.accuracy_score(y_test,y_pred1))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.9294606391489242